
---

const DEFAULT_THEME = 'Light'

---
<label for="theme">{DEFAULT_THEME}</label>
<input id="theme" name="theme" type="checkbox">

<script>
	const checkbox = document.getElementById('theme') as HTMLInputElement | null;
	const label = document.querySelector<HTMLLabelElement>('label[for="theme"]');

	const KEY = "theme";
	const LIGHT = "light";
	const DARK = "dark";

	function handleCheckboxChangeEvent(this: HTMLInputElement, ev: Event){
		handleThemeSwith()
		if(label){
			label.innerHTML = localStorage.getItem(KEY) === DARK ? "Dark" : "Light";
		}
	}

	function handleThemeSwith(){
		if (localStorage.getItem(KEY)) {
			if (localStorage.getItem(KEY) === LIGHT) {
				document.documentElement.classList.add(DARK);
				localStorage.setItem(KEY, DARK);
			} else {
				document.documentElement.classList.remove(DARK);
				localStorage.setItem(KEY, LIGHT);
			}

		} else {
			if (document.documentElement.classList.contains(DARK)) {
				document.documentElement.classList.remove(DARK);
				localStorage.setItem(KEY, LIGHT);
			} else {
				document.documentElement.classList.add(DARK);
				localStorage.setItem(KEY, DARK);
			}
		}
	}

	function handleLoadEvent(){
		const theme = localStorage.getItem(KEY) || LIGHT;

		if(label){
			if(theme === DARK){
				checkbox?.setAttribute("checked", "checked")
				label.innerHTML = "Dark"
			} else {
				checkbox?.removeAttribute("checked")
				label.innerHTML = "Light"
			}
		 }
		 handleThemeSwith()
	}

	checkbox?.addEventListener("change", handleCheckboxChangeEvent, false)
	window.addEventListener('load', handleLoadEvent, false)
</script>
