---
interface Props {
	href: string;
}

const { href } = Astro.props;

---
<a class="text-violet-12 dark:text-violet-dark-12 hover:text-violet-11 hover:dark:text-violet-dark-11 hover:underline underline-offset-2 text-xl" href={href}>
  <slot />
</a>