<div class="flex items-end mb-8 gap-3">
  <h2 class="text-5xl text-violet-12 dark:text-violet-dark-12">
    <slot />
  </h2>
  <div class="background-net bg-dots dark:bg-dots-dark w-12 h-3 bg-[length:4px_4px]"></div>
</div>